<div class="row d-flex justify-content-center">
  <div *ngFor='let article of articles' class="col-3" >
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{article.title}}</h5>
        <p class="card-text">{{article.content}}</p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-danger" (click)="delete(article)"><img src="../../assets/tissue.svg" class="logo"/> supprimer</a>
        <a href="#" class="btn btn-warning" (click)="edit(article)"><img src="../../assets/backpack.svg" class="logo"/> editer</a>
      </div>
    </div>
  </div>
</div>


